
.filter__input{
    width: 270px;
    display: inline-block;
    height: 47px;
    border: 2px solid #0080ff7a;
    margin-right: 10px;
    border-radius: 10px;
    padding-left: 10px;
    font-weight: 600;
}

.filter__checkbox{
    margin: 0 25px 0 5px;
}

.filter__checkbox_label{
    font-weight: 600;
}