.modal__wrap{
<<<<<<< HEAD
    background: white;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 75vw;
    left: 12.5vw;
    box-shadow: 0 0 7px 3px #0000001c;
    display: none;
}

.modal__closeBtn{
    border: none;
    background: none;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 1.5em;
}
.modal__open{
=======
    display: none;
}

.modal__wrap.modal__open{
>>>>>>> 1475b2312c56495a6e982d90efc5c68488be2f16
    display: block;
}