

.paging__wrap{
}

.paging__page{
    margin: 0 4px;
    cursor: pointer;
    font-size: 1.1em;
}

.paging__page:hover{
    opacity: 0.4;
}

.paging__current{
    color: #3388d2;
    font-weight: 600;
}

.paging_pages{
    display: flex;
    justify-content: center;
}