.search__wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.search__btn{
    float: left;
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 10px;
    background: #62b0ff;
    color: white;
    box-shadow: 0 0 4px 2px #00000036;
    cursor: pointer;
}